.movieCell {
    margin: 10px;
}

.movieImg {
    border-radius: 15px;
    width: 300px;
    height: 200px;
    transition: .2s ease all;
    object-fit:cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 7);
}
.movieImg:hover {
    position: relative;
    transform: scale(1.05);
}
