.container {
    margin: auto;
    width: 90%;
    /*background-color: grey;*/
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.text {
    font-size: 48px;
    color: #dfe1e3;
    margin: 0;
}
.choiceMovie {
    display: flex;
    align-items: center;
}
.addNew {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    font-weight: bold;
    /*background-color: var(--darkBlue);*/
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;

}
.addNew p {
    margin-right: 5px;
}

.arrow {
    position: relative;
    width: 30px;
    display: flex;
    align-items: center;
    margin-left: 5px;

}
.arrowMoveBefore {
    font-size: 14px;
    position: absolute;
    transform: translateX(-50%);
    left: 0;
    transition: all 0.3s;
    /*color: var(--darkBlue);*/
}

.arrowMoveAfter {
    color: var(--darkBlue);
    font-size: 18px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s;
}



.select {
    color: #dfe1e3;
    height: 35px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 40px;
    border-color: transparent;
    cursor: pointer;
    background-color: #555555;
    transition: background-color .3s ease-in;
    outline: none;
}
.select:hover {
    background-color: #131313;
    transition: background-color .3s ease-in;
}
.option {
    background-color: #181818;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.wrapperImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notFound {
    font-size: 48px;
    font-weight: bold;
    color: var(--white);
}

