
.containerFluid {
    width: 90%;
    margin: 20px auto;
}

.container{
    display: flex;
    flex-direction: column;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background-color: #24242c;
    padding: 50px;
    border-radius: 20px;
    position: relative;
}

.displayImg {
    width: 400px;
    height: 300px;
}
.displayImg img {
    width: 100%;
    height: 100%;
    /*height: 400px;*/
}

.infoDataWrapper {
    margin: 0 30px;
    width: 700px;
}


.ratingInfo {
    color: var(--darkBlue);
}

.rateWrapper {
    background-color: var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 330px;
    height: 200px;
    padding: 10px;
    position: absolute;
    top: -45px;
    right: -50px;
}

.displaySelectedRate {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}

.ratingValues {
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultIconNumber {
    font-size: 50px;

}

.selectedRateNumber {
    /*background-color: var(--darkBlue);*/
    background-color: #0075ff;
    color: white;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}
.selectedRateNumberBefore {
    width: 0;
    height: 0;
    font-size: 0;
}
.selectedRateNumberAfter {
    width: 50px;
    height: 50px;
    font-size: 28px;
}

.ratingLabels {
    margin: 0 10px;
}
.ratingLabels p {
    font-size: 18px;
}

.selectRateStar {
    padding: 5px;
}

.selectRateStar a {
    color: var(--darkBlue);
    /*color: #33335e;*/
    font-size: 32px;
}

.selectWatched {
    display: flex;
    justify-content: center;
}
.selectWatched p {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 10px 20px 0;
}
input[type="checkbox"] {
    width: 25px;
}

.descriptionWrapper {
    word-break: break-all;
    width: 100%;
}

.descriptionWrapper p {
    color: var(--white);
}
