.infoDescription {
    width: 100%;
    word-break: break-word;
}

.infoDescription p {

    color: var(--white);
    font-size: 18px;
}

.container {
    width: 100%;
}

.ratingInfo {
    color: var(--darkBlue);
}

