
.flipCard {
    background-color: transparent;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    perspective: 1000px;
    margin: 30px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*.flipCard:hover .flipCardInner {*/
/*    transform: rotateY(180deg);*/
/*}*/

.flipped {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardFront {
    background-image: linear-gradient(to bottom right, var(--black), var(--darkBlue));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
}

.cardFront p {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    color: var(--white);
}

.cardBack {
    transform: rotateY(180deg);
    background-color: var(--darkBlue);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    color: var(--black);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    text-decoration: none;
}

.imgWrapper {
    overflow: hidden;
    margin: 0;
    /*border-radius: 0 10px 10px 0;*/
    border-radius: 10px;
}

.imgWrapper img {
    width: 150px;
    height: 200px;
    object-fit: fill;
}

.triangleDiv {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    border-left: 50px solid var(--black);
    border-top: 50px solid var(--black) ;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.triangleDiv p {
    text-align: center;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100% , -100%);
    color: var(--white);
    font-size: 30px;
    margin: 0;
    background-color: transparent;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 10px 10px;

}

.vertical p {
    margin: 5px;
}

.dataWrapper {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    /*align-items: flex-start;*/
    flex-direction: column;
    /*margin-left: 20px;*/
}
