
.containerFluid {
    width: 90%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px;
}

.rankingText {
    font-size: 32px;
    color: var(--white);
    font-weight: bold;
    margin: 0;
}
.titleRanking {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.missingRanking {
    font-size: 20px;
}
.error {
    font-size: 32px;
    color: grey;
    font-weight: bold;
}
@media all and (max-width: 800px) {
    .container {
        justify-content: center;
    }
}

