.container {
    /*margin: 0px auto;*/
    /*width: 100%;*/
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
}

.input {
    background-color: var(--black);
    border-radius: 5px;
    outline: none;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    color: gray;
    border: none;
    margin: 0;
}

.input:focus {
    border: none;
}

.search {
    color: grey;
    font-size: 32px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

