.underline {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: border-bottom .5s ease;
}
.underlineAfter {
    border-bottom: 3px solid;
    border-top: 3px solid transparent;
    transition: border-bottom 1s ease;
}

.icon {
    margin: auto;
    position: relative;
    top: 3px;
    padding: 5px;
}

.text {
    padding: 0 10px;
    font-size: 16px;
    color: var(--white);
    /*color: white;*/
    text-transform: uppercase;
    display: flex;
    text-underline-offset: 8px;
    font-weight: bold;
    text-decoration: none;
}
.clicked {
    color: var(--darkBlue);
    border-color: var(--darkBlue);
}

@media all and (max-width: 1000px){
    .text{
        font-size: 12px;

    }
    .text {
        padding: 0 5px;
    }
}
@media all and (max-width: 900px){
    .text{
        font-size: 10px;

    }
}

@media all and (max-width: 700px){
    .text p{
        font-size: 0px;

    }
}
