.container {
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/
    cursor: default;
}

.containerHover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--black);
    width: 200px;
    height: 250px;
    border-radius: 0 0 0 60%;
}

.userDetails {
    display: flex;
    min-height: 70px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.userDetails p{
    margin: 0 5px;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    display: flex;
    text-underline-offset: 8px;
    font-weight: bold;
    text-decoration: none;
}

.userDetails span {
    font-size: 32px;
    padding: 10px;
    color: white;
}

@media all and (max-width: 1000px){
    .userDetails p{
        font-size: 12px;

    }
    .userDetails span {
        font-size: 24px;
    }
}
@media all and (max-width: 900px){
    .userDetails p{
        font-size: 10px;
        padding: 0;
    }
    .userDetails span {
        font-size: 24px;
    }
}

@media all and (max-width: 500px){
    .userDetails p{
        font-size: 10px;

    }
    .containerHover {

        width: 150px;
        height: 250px;
        border-radius: 0 0 0 60%;
    }
}
