.container {
    margin: 0 5vw;
}
.headerText {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error {
    font-size: 32px;
    color: grey;
    font-weight: bold;
}
